body{
    background-color: #F1F1F1;
}

h1{
    display: flex;
    color: #36476D;
    font-weight: 700;
    font-size: 50px;
    font-family: Poppins;
    margin-top: 146px;
    justify-content: center;
    margin: auto;
    padding: 30px;
       
}

img{
    display: flex;
    max-width: 100%; 
    max-height: 80px;
    margin-top: 55px;
    margin-left: 73px; 

}

.blueBox{
    display: flex;
    flex-direction: row;
    background-color: #AFD7FA;
    color: white;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    height: 143px;
    width: 1320px;
    border-radius: 30px;
    border: 1px solid black;
    margin: auto;
    
    
}

.container1{
    display: flex;
    margin: auto;
    gap: 13px;
    
}

.whiteBox1{
    display: flex;
    background-color: white;
    width: 306px;
    height: 50px;
    margin: auto;
    
}

.greenBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #56C854;
    width: 166px;
    height: 57px;
    border-radius: 20px;
    text-align: center;    
    font-size: 30px;
    
}

.whiteBox2{
 
    width: 1292px;
    height: 107px;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px grey;
    font-family: Poppins;
    color: #36476D;
    font-weight: 600;
    font-size: 32px;
    padding: 30px;
}

.container2{
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    gap: 25px;

}

.redBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FF7676;
    width: 166px;
    height: 57px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    align-items: center;
}